.color{
    color: rgba(36,39,63,0.83);
}
*{
    font-family: Calibri;
}
.drop{
    width: 30%;
    border-radius: 10%;

}
nav{
    position: fixed;
}
.box{
    background-color: rgba(81,102,255,0.54) ;
    padding: 6.25rem 1.25rem;
    box-shadow: #89908d 3px 3px 3px 3px;
    display: flex;
    justify-content: center;
    left: 10%;
    border-radius: 20px;
}

.img1{
    width: 400px !important;
}
.drop{
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;

}

.img{
    width: 100px;
    height: 100px;
}

.box1{
    display: flex;
    align-self: center;

    flex-direction: column;
    align-items: center;
    text-align: center;

}

label{
    background-color: rgba(51,122,183,0.93);
    font-size: large;
    border-radius: 50%;
    width: 40%;
    padding: 20px;
    text-align: center;
    color: white;
}
label:hover{
    background-color: rgba(45,56,115,0.93);
}