body{
    margin: 0;
}

footer{
background-color: rgba(248,248,248,0.87);

}

.blue-bg{
    background-color: rgba(166,199,240,0.76);
}

.footer{
    margin: 7px;
}

.large{
    font-size: 3em;
    text-align: center;
}

.reg{
    margin-top: 10%;
}

.img-b{
    width: 100%;
    position: absolute;
}

.ml4 {
    position: relative;
    font-weight: 900;
    font-size: 4.5em;
    color: floralwhite;
}

nav{
 background-color: rgba(0,0,0,0.25);
}


.anime{
    color: floralwhite;
    padding-left: 20px;
    padding-top: 50px;
    font-weight: 900;
    font-size: 2.5em;
    animation-name: appear;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

.anime2{
    color: rgba(167,206,218,0.91);

    padding-left: 20px;
    padding-top: 20px;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 1s;
}

.anime3{
    color: rgba(134,204,218,0.91);
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 2s;
}

.anime4{
    color: rgba(92,204,218,0.91);
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 3s;
}

.secondary{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;

}

.img1{
    width: 100%;
    border-radius: 12px;
    height: 100%;
}
.ico{
    height: 35px;
}

.anime5{
    color: rgba(54,205,218,0.91);
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    font-weight: 900;
    font-size: 2.5em;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-name: appear;
    animation-duration: 2s;
    animation-delay: 4s;
}

@keyframes appear {
    from {opacity: 0;}
    to {opacity: 100%;}
}

.main{
    background-image: url("veg4.jpg");
    background-size: cover;

}

.reg-in{
    background-color: rgba(70,112,240,0.76);
    padding: 20px;

    color: white;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    box-shadow: #89908d 2px 2px;
}


.cart{
    margin: 10px;
    padding: 20px;
}


.reg-right{
    padding-top: 20px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: #89908d 2px 2px;
}

.map{
    margin-top: 10px;
    margin-bottom: 10px;
}

.logo{
    font-family: "Ink Free";
    font-weight: bolder;
}


#myDiv {
    display: none;

}

.soup-img{
    width: 100%;
    border-radius: 10px;
}
.soup-menu{
    margin: 10px;
}
.text{
    color: floralwhite;
    padding: 6px;
    background-color: rgba(0,0,0,0.23);
    margin-left: 25%;
    width: 50%;
    font-size: 20px;
    font-weight: bold;

}
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
