body{
    margin: 0;
    background-color: black;
    color: #efefef;
}
a{
    float: right;
    text-decoration: none;
    color: #efefef;
    margin-left: 10px;
}
a:hover{
    color: #89908d;
}
header{
    font-family: Corbel;
    margin: 10px;

}
.name{
    float: none;
    font-family: Bahnschrift;
}
.text{
    width: 30%;
    margin-top: 3%;
    margin-left: 10%;

}
.none{
    font-weight: normal;
}
.work{

    float: none;
    margin-left: 0;
}
.work:hover{
    color: #89908d;

}
.cat{
    width: 35%;
    float: right;
    margin-right: 10%;
}
.img-cat{
    width: 99%;
    height: 99%;
    border-radius: 50%;

}
.text2{
    width: 70%;
    margin-top: 2%;
    margin-left: 10%;
}
.orange{
    color: #ff4040;
    margin-top: 5%;
    margin-left: 10%;
    font-size: large;
}

.slide{
    width: 50%;
    height: 50%;
    display: none;


}

.button{
    border:none;

    padding:8px 16px;
    overflow:hidden;
    text-decoration:none;
    color:inherit;
    background-color:inherit;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
}

.container{
    position: relative;
    display: flex;

}
.button:hover{
    color:#000;
    background-color: rgba(239,239,239,0.83);
    opacity: 30%;
}
.left{
    float: left;
    margin-left:22%
}
.right{
    float: right;
}

