.cont{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgba(233,236,239,0.93);
}
footer{
    background-color: rgba(233,236,239,0.93);
}

button{
    width: 50%;
    margin-bottom: 14px;
}
img{
    width: 200px;
}

footer{
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}