h1 {
    color: red;
    background-color: blue;
    border: dotted  yellow;
    margin: 5px;
    padding: 10px;
    text-align: center;

}

img{

    border-radius: 20px;
    border-bottom: 10px  black dashed;
}

.halfsize{
    height: 50%;
    width: 50%;
    border-radius: 20px;
    border-bottom: 10px  black dashed;

}

.aquaback{
    text-align: center;
    background-color: aqua;
    margin: 20px;
    padding: 5px;
}

.italic{
    font-style: italic;
    font-weight: bold;
    text-decoration: underline;
}

.indent {
    text-indent: 30px;
}
.spacing{
    word-spacing: 10px;
    letter-spacing: 10px;
}

.capital{
    text-transform: capitalize;
}

.lower{
    text-transform: lowercase;

}

.upper{
    text-transform: uppercase;
}

.lh{
    line-height: 40px;
}

.shadow{
    text-shadow: 3px 2px gray;
}


