.rect{
    float: right;
    background-color: whitesmoke;
    height: 9em;
    width: 40%;
    margin: 7px;
    border: whitesmoke 3px solid;
}

.rect-middle{
    text-decoration-color: #445162;
    float: right;
    background-color: #445162;
    height: 13em;
    width: 39%;
    margin: 7px;
    border: whitesmoke 3px solid;
}

.first{
    text-indent: 7px;
    margin: 7px;
    padding: 7px;
    -webkit-text-fill-color: whitesmoke;
    background-color: #445162;
    -webkit-border-top-left-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

.size{
    margin-left: 25%;
    margin-bottom: 7px;
    width: 20em;
    -webkit-text-fill-color: gray;
    border-radius: 5px;
}

.contacts{
    margin-top: 4em;
    margin-right: 25%;
    float:right;
    font-size: 16px;

}

.button{
    margin-left: 34%;
    margin-bottom: 7px;
    -webkit-text-fill-color: gray;
    border-radius: 5px;
}

.size-center{
   text-align: right;
}

.ico{
    width: 20px;
    height: 20px;

}

.bottom{

    margin: 7px;
    padding: 7px;
    -webkit-text-fill-color: whitesmoke;
    background-color: #445162;
    -webkit-border-bottom-left-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
}

body{
    background-color: whitesmoke;
}

.middle{

    margin: 7px;
    padding: 7px;
    width: 55%;
    -webkit-text-fill-color: #445162;
    background-color: whitesmoke;
}






