h1{
    text-align: center;

}

.red-top{
    background-color: #ff4040;
    width: 100%;
    padding-top: 5px;
    padding-bottom: 10px;
    color: white;
}

.white{
    color: white;
}

.center-white{
    float: right;
    color: black;
    width: 85%;

}

h2{
    color: black;
}

.footer{
    background-color: #ffb2b2;
    text-align: center;
    color: black;
    left: 0;
    bottom: 0;
    padding: 3px;
    width: 100%;
    float: bottom;
    position: fixed;
    font-weight: bold;
}

.left-gray{
    background-color: #c0c0c0;
    padding: 7px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    width: 10%;

    height: 100em;
}