.title{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-image:  url(https://images2.minutemediacdn.com/image/upload/c_fill,g_auto,h_1248,w_2220/f_auto,q_auto,w_1100/v1555439022/shape/mentalfloss/the-little-prince-best-quotes-cover-800x469.jpg) ;
}

*{
    box-sizing: border-box;
}

h3{
    text-transform: uppercase;
    font-family: Calibri;
    text-align: center;
}

body, html{
    margin: 0px;
    height: 100%;
    padding: 0px;
}

.author{
    text-align: center;
    text-transform: uppercase;
    font-family: "Courier New";
    color: #6379de;

    padding: 20px;
}

.name{
    text-align: center;
    text-transform: capitalize;
    font-family: cursive;

    color: rgba(0,0,0,0.77);

    font-size: 42px;
}

 h1, h4, h2{
    text-align: center;
    padding: 30px;
    font-family: "Courier New";

}
table{
    font-family: "Courier New";
}

a:hover{
    text-decoration-color: rgba(251,245,1,0.91);
}

a{
    text-decoration-color: rgba(168,157,184,0.91);
}



img{
    width: 30%;
    height: 30%;
    border-radius: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

p{
    padding: 14px;
    text-indent: 7px;
    font-family: "Courier New";
}

div{
    background-color: rgba(242, 248, 244, 0.77);
    border: rgba(242,248,244,0.77) solid 1px;

}