.form{
    border: grey solid 2px;
    display: flex;
    flex-direction: column;
    width: 72%;
    margin-left: 15%;
}

input{
    width: 120px;
    margin: 3px;
}
h3, h1, p{
    margin:3px;
}

h1, p{
    text-align: center;
}

.button{
    margin-left: 15%;
    width: 72%;
    border: none;
    background-color: #a3ffad;
    font-size: 20px;
}




body{
    margin: 0;
    padding: 0;
}
.nav{
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    background-color: #445162;
    position: sticky;
    align-items: center;
}

.dropdown{
    width: 33%;
    text-align: center;
    color: #dedede;
    border: #dedede;
    position: relative;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}



.content{
    top: 100%;
    display: none;
    position: absolute;
    width: 100%;
    color: #445162;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.news{
    color: #445162;
    width: 100%;
}
.news:hover{
    background-color: dimgrey;
}




.dropdown:hover .content{
    display: flex;
    flex-direction: column;


    background-color: #dedede;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}

.dropdown:hover{
    background-color: red;
    display: flex;
    flex-direction: column;
}

a:hover{
    background-color: red;
}

a{
    font-size: 20px;

    width: 33%;
    align-items: center;
    text-align: center;

    text-decoration: none;
    color: #dedede;
    display: flex;
    justify-content: center;
    align-items: center;
}





/*.dropdown{*/
/*    overflow: hidden;*/
/*}*/

/*.dropdown .dropbtn{*/
/*    font-size: 18px;*/
/*    font-family: Calibri;*/
/*    border: none;*/
/*    outline: none;*/
/*    color: #dedede;*/
/*    background-color: rgba(35,35,35,0.89);*/
/*    margin: 6px;*/
/*}*/

/*.dropdown:hover .dropbtn{*/
/*    background-color: red;*/
/*}*/

/*.link{*/
/*    text-decoration: none;*/
/*    font-family: Calibri;*/
/*    font-size: 16px;*/
/*    color: rgba(35,35,35,0.89);*/
/*    margin: 3px;*/
/*}*/

/*.link:hover{*/
/*    background-color: grey;*/
/*}*/

/*.dropdown-content {*/
/*    display: none;*/
/*    position: absolute;*/
/*    background-color: #f9f9f9;*/
/*    min-width: 160px;*/
/*    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/

/*}*/

/*.dropdown:hover .dropdown-content {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/

/*.nav{*/
/*    width: 100%;*/
/*    background-color: rgba(8,8,8,0.89);*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    padding: 2px;*/
/*}*/

/*.in{*/
/*    color: #dedede;*/
/*    font-size: 18px;*/
/*    font-family: "Calibri";*/
/*    margin: 7px;*/

/*}*/

/*.in:hover{*/
/*    background-color: red;*/

/*}*/

.main{
    border-radius: 20px;

    border: solid pink;
    dispalay: flex;
    flex-flow: column;

    margin: 2px;



}

.box{
    display:  flex;
    flex-direction: row;
    margin: 9px;
    border: #6379de solid;
    border-radius: 20px;
    height: 100px;
    align-items: center;
}


.box:nth-of-type(even){flex-direction: row-reverse; text-align: right}

img{
    height: 100%;
}

.text{
    font-family: Bahnschrift;

}

.name{
    font-weight: bold;
    color: #445162;
}