.table{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto
    auto auto auto auto auto auto auto auto auto auto auto;
    grid-gap: 1px;
    padding: 7px;

}
.item1{

    border-radius: 3px;
    background-color: #43964d;

    font-size: 20px;
    text-align: center;
    color: white;
}

.item2{
    background-color: #449696;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item3{
    background-color: #4e5496;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item4{
    background-color: #8f4296;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item5{
    background-color: #96455a;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item6{
    background-color: #963826;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item7{
    background-color: #96742d;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.item8{
    background-color: #959619;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.item9{
    background-color: #96006b;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.item11{
    background-color: #005652;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}
.item10{
    background-color: #00968d;
    border-radius: 3px;
    font-size: 20px;
    text-align: center;
    color: white;
}

.center{
    margin-left: 33%;
}

.title{
    background-color: #78ffc9;
    border-radius: 15px;
}
.innerlog{
    background-color: #c4fbe1;
    border-radius: 15px;
}

.margin{
    margin: 7px;
}

.login{
    top: 90px;
    background-color: #fafafa;
}
