
.title{
    margin-bottom: 10px;
    text-align:center;
    width: 210px;
    color: #960000;

}

input[type="button"]
{
    background-color: #960000;
    color: white;
    border: solid black 1px;
    width:100%;
    border-radius: 4px;

}

input[type="text"]
{

    border: solid black 1px;
    width:100%;
    border-radius: 4px;
}
