.left{
    float:left;
    width: 33%;
    margin-right: 2px;
    background-color: green;
}
.right{
    float:left;
    width: 33%;
    background-color: green;
}

.center{
    float: left;
    width: 33%;
   margin-right: 2px;
    background-color: gray;
}

p{
    margin: 10px;
}

h2{
    margin: 10px;
}

h3{
    margin: 10px;
}

.text{
    -webkit-text-fill-color: whitesmoke;
    font-family: "Times New Roman";
    background-color: black;
}